#####################################################################
# JKL
#
# This is used all of the homelab. 

# This one is for testing the whole lab. It helps check the unit under test
INFLUX_URL1 = "{{ influx_url1 }}"
INFLUX_TOKEN1 = "{{ influx_operators_token1 }}"
INFLUX_ORG1 = "{{ influx_org1 }}"
INFLUX_BUCKET1 = "{{ influx_bucket1 }}"


# this is where you put in the local test. 
INFLUX_URL2 = "{{ influx_url2 }}"
INFLUX_TOKEN2 = "{{ influx_operators_token2 }}"
INFLUX_ORG2 = "{{ influx_org2 }}"
INFLUX_BUCKET2 = "{{ influx_bucket2 }}"

