#####################################################################
# JKL
#
# This is used all of the homelab. 

{% for server_name, config in telgraf2influx_configs.items() %}{% if config.output %}
{{ server_name|upper }}="{{ config.token }}"
{% endif %}{% endfor %}