<?php
$CONF['configured'] = true;
$CONF['database_type'] = 'mysqli';
$CONF['database_host'] = '{{ postfixadmin_db.host }}';
$CONF['database_port'] = '{{ postfixadmin_db.port }}';
$CONF['database_user'] = '{{ postfixadmin_db.user }}';
$CONF['database_password'] = '{{ postfixadmin_password }}';
$CONF['database_name'] = '{{ postfixadmin_db.name }}';
$CONF['encrypt'] = 'dovecot:BLF-CRYPT';
$CONF['dovecotpw'] = "/usr/bin/doveadm pw -r 12";

$CONF['domain_path'] = 'YES';
$CONF['domain_in_mailbox'] = 'NO';
$CONF['fetchmail'] = 'NO';
$CONF['sendmail'] = 'NO';

$CONF['admin_email'] = 'postmaster@{{ mailsvc_domain }}';
$CONF['footer_text'] = '';
$CONF['footer_link'] = '';
$CONF['default_aliases'] = array (
    'abuse' => 'postmaster',
    'hostmaster' => 'postmaster',
    'postmaster' => 'postmaster',
    'webmaster' => 'postmaster'
);

$CONF['password_validation'] = array(
    'min_length' => 8,
    'min_digits' => 1,
    'min_uppercase' => 1,
    'min_lowercase' => 1,
    'min_special' => 1
);

$CONF['setup_password'] = '{{ postfixadmin_setup_hash }}';
$CONF['smtp_server'] = 'localhost';
$CONF['smtp_port'] = '25';

$CONF['password_validation'] = array(
    '#^.{5}#'                => 'password_too_short 5',
    '#([a-zA-Z].*){3}#'      => 'password_no_characters 3',
    '#([0-9].*){2}#'         => 'password_no_digits 2',
);
