<?php
$config = array();

$config['db_dsnw'] = sprintf('mysql://%s:%s@%s:%d/%s',
    '{{ roundcube_db.user }}',
    '{{ roundcube_password }}',
    '{{ roundcube_db.host }}',
    {{ roundcube_db.port }},
    '{{ roundcube_db.name }}'
);

$config['des_key'] = '{{ roundcube_des_key }}';
$config['debug_level'] = 0;
$config['log_driver'] = 'syslog';
$config['smtp_server'] = 'localhost';
$config['smtp_port'] = 25;
$config['smtp_user'] = '%u';
$config['smtp_pass'] = '%p';
$config['support_url'] = '';
$config['product_name'] = 'Webmail';
$config['default_host'] = 'localhost';
$config['default_port'] = 143;
$config['imap_auth_type'] = 'LOGIN';
$config['imap_delimiter'] = '/';
$config['smtp_auth_type'] = 'LOGIN';
$config['smtp_helo_host'] = '{{ mailsvc_hostname }}';

$config['create_default_folders'] = true;
$config['protect_default_folders'] = true;
$config['mail_pagesize'] = '50';
$config['addressbook_pagesize'] = '50';
$config['reply_mode'] = 1;
$config['reply_all_mode'] = 1;
$config['resolve_identity'] = true;

$config['session_lifetime'] = 60;
$config['session_domain'] = '';
$config['session_name'] = 'roundcube_sessid';
$config['session_path'] = '/';
$config['session_storage'] = 'db';

$config['skin'] = 'elastic';
$config['login_rate_limit'] = array('min_time' => '60s', 'max_attempts' => 3);
$config['password_min_length'] = 8;
$config['password_require_nonalpha'] = true;
$config['ip_check'] = true;
$config['enable_spellcheck'] = true;
